<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        <%= image_tag("/assets/logo.png") %>
      </p>
      <p class="text-center">
        Welcome! Join Feelit now
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <p class="text-center">
        <%= form_tag({:controller => "registration", :action => "search"}, :class => "form-horizantal", :method => "get") do %>
        <center>
          <div class="form group">
            <%= text_field :registration, :username, class: "field form-control username_white", :placeholder => "username" %>
          </div>
          <p></p>
          <div class="form group">
            <%= password_field_tag :registration, :password, class: "field form-control", :placeholder => "password" %>
          </div>
          <p></p>
          <div class="form group">
            <%= text_field :registration, :email, class: "field form-control", :placeholder =>"email"%>
          </div>
          <p></p>
          <div class="form group">
            <%= submit_tag "Register", id: "register"%>
          </div>
        </center>
          <p>
            2015 © Feelit, Inc. All rights reserved.
          </p>
        <% end %>
        <div id="app_buttons">
          <center>
            <p><%= image_tag("/assets/ios-button.png", :class => "img-responsive", id:"ios") %><%= image_tag("/assets/android-button.png", :class => "img-responsive", id:"android") %></p>
          </center>
        </div>
      </p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
