
<%= image_tag("/assets/logo.png") %>
Welcome! Join Feelit now
<%= form_tag({:controller => "registration", :action => "search"}, :method => "get") do %>

  <p>
    <%= text_field :registration, :username, class: "field", :placeholder => "username" %>
  </p>
  <p>
    <%= password_field_tag :registration, :password, class: "field", :placeholder => "password" %>
  </p>
  <p>
    <%= text_field :registration, :email, class: "field", :placeholder =>"email"%>
  </p>
  By registering, I agree to the Terms of Service and Privacy Policy
  <p>
    <%= submit_tag "Register", id: "register"%>
  </p>

  2015 © Feelit, Inc. All rights reserved.
<% end %>

<%= image_tag("/assets/ios-button.png") %><%= image_tag("/assets/android-button.png") %>
