
<%= form_tag({:controller => "registration", :action => "search"}, :method => "get") do %>
  <p>
    <%= text_field :registration, :email, class: "email_white" %>
  </p>
  <p>
    <%= text_field :registration, :username, class: "username_white" %>
  </p>
  <p>
    <%= password_field_tag :registration, :password, class: "password_white" %>
  </p>
  <p>
    <%= submit_tag "Submit" %>
  </p>
<% end %>
